In [13]:
import os
import pandas as pd
df=pd.read_csv('agora.csv')

In [14]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [15]:
tm= df.Transport.median()

In [16]:
tm

214634.81

In [17]:
df.Transport= df.Transport.fillna(tm)

In [18]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [19]:
df.columns

Index(['Marketing Spend', 'Administration', 'Transport', 'Area', 'Profit'], dtype='object')

# MinMaxScaler

In [20]:
from sklearn.preprocessing import MinMaxScaler
m= MinMaxScaler()
df.Administration = m.fit_transform(df[['Administration']])
df['Marketing Spend'] = m.fit_transform(df[['Marketing Spend']])
df.Transport = m.fit_transform(df[['Transport']])

In [21]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

# MaxAbsScaler

In [22]:
import os
import pandas as pd
df2=pd.read_csv('agora.csv')
tm2= df2.Transport.median()
df2.Transport= df2.Transport.fillna(tm2)

from sklearn.preprocessing import MaxAbsScaler
m2= MaxAbsScaler()
df2.Administration = m2.fit_transform(df2[['Administration']])
df2['Marketing Spend'] = m2.fit_transform(df2[['Marketing Spend']])
df2.Transport = m2.fit_transform(df2[['Transport']])
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.749527   1.000000    Dhaka  192261.83
1         0.983359        0.828805   0.940893      Ctg  191792.06
2         0.927985        0.553781   0.864664  Rangpur  191050.39
3         0.873136        0.649738   0.812235    Dhaka  182901.99
4         0.859438        0.500378   0.776136  Rangpur  166187.94

# RobustScaler

In [23]:
import os
import pandas as pd
df3=pd.read_csv('agora.csv')
tm3= df3.Transport.median()
df3.Transport= df3.Transport.fillna(tm3)

from sklearn.preprocessing import RobustScaler
m3= RobustScaler()
df3.Administration = m3.fit_transform(df3[['Administration']])
df3['Marketing Spend'] = m3.fit_transform(df3[['Marketing Spend']])
df3.Transport = m3.fit_transform(df3[['Transport']])
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.563780    Dhaka  192261.83
1         1.452113        0.697565   1.394202      Ctg  191792.06
2         1.303634       -0.524290   1.175497  Rangpur  191050.39
3         1.156567       -0.097977   1.025079    Dhaka  182901.99
4         1.119836       -0.761543   0.921508  Rangpur  166187.94

# Standard Scaler

In [24]:
import os
import pandas as pd
df4=pd.read_csv('agora.csv')
tm4= df4.Transport.median()
df4.Transport= df4.Transport.fillna(tm3)


from sklearn.preprocessing import StandardScaler
m4= StandardScaler()
df4.Administration = m4.fit_transform(df4[['Administration']])
df4['Marketing Spend'] = m4.fit_transform(df4[['Marketing Spend']])
df4.Transport = m4.fit_transform(df4[['Transport']])
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.187389    Dhaka  192261.83
1         1.955860        1.082807   1.949554      Ctg  191792.06
2         1.754364       -0.728257   1.642819  Rangpur  191050.39
3         1.554784       -0.096365   1.431856    Dhaka  182901.99
4         1.504937       -1.079919   1.286598  Rangpur  166187.94